<div class="container">

  <div class="span3">
    <% if cookies[:alert] > 3 and not current_user %>
      <script>
        alert("Please login to have more fun!=)")
      </script>
        <% end %>
      <li class="list-group-item active"><%= @question.title %> <%=link_to image_tag("del.png", class: "like"), question_path(id: @question.id), method: :delete %></li>
      <li class="list-group-item list-group-item-success"><%= @question.body %></li>
      <p><%=link_to image_tag(@question.image_url, class: 'thumb'), @question.image_url, target: "_blank" if @question.image? %></p>
      <span><i>Question by: </i><%= @question.user.name %></span>
      <ul class="list-group">
        <% @question.answers.each do |answer| %>
            <li class="list-group-item active"><%= answer.response %></li>
            <p><%=link_to image_tag(answer.image_url, class: 'thumb'), answer.image_url, target: "_blank" if answer.image? %></p>
            <span><i>Posted by: </i><%= answer.user.name%></span>
            <%= link_to image_tag("like.jpg", class:"like"), likes_path(data: answer.id), method: :post %>:<%=answer.likes%>
            <% if answer.confirmed%>
                <%= image_tag("cake.jpg", class:"like") %>
            <% end %>
            <% end %>
      </ul>
      <div class="form">
        <div class="row">
          <%= form_for @answer do |f| %>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <p><%= f.text_area :response, class:"form-control", placeholder:"I think ..." %></p>
                </div>
                <div class="form-group floating-label-form-group controls">
                  <p><%= f.file_field :image %></p>
                </div>
              </div>
              <input type="hidden" name="question_id" value="<%= @question.id %>">
              <p><%= f.submit "Answer", class:"btn btn-success btn-sm" %></p>
          <% end %>
        </div>
      </div>
      </div>
    </div>
