<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>SwapOwerflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">SwapOwerflow</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><%= link_to "HOT", hot_questions_path, :method => 'get' %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' if current_user%></li>
        <li><%= link_to "Login", new_user_session_path, :method => 'get' if not current_user %></li>
      </ul>
    </div>
  </nav>
  <%= image_tag('swap.png', class:"logo")%>
  <div class="container">
    <% flash.each do |key, value| %>
        <li class="list-group-item list-group-item-info"><%= value %></li>
    <% end %>
  </div>
  <% if user_signed_in? %>
      <h5>Welcome, <%=current_user.name %></h5>
  <% end %>
  <%= yield %>
  </body>
</html>
